@import url('https://fonts.googleapis.com/css?family=Barlow:400,700');

#header{
	background-image: url("image/bg.png");
	opacity:2.5;
	  background-position: center;
  background-size: cover;
  position: relative;
}
.logo{
	padding-top:80px;
	padding-bottom:100px;
}
.st h1{
	color:white;
	padding-bottom:20px;
	font-family: 'Barlow', sans-serif;
	font-weight:bold;
}
.st p{
	font-family: 'Barlow', sans-serif;
	color:white;
}
.one{
	background-image: url("image/sp.png");
	height:120px;
	width:190px;
	margin-left:80px;
	margin-top:20px;
	margin-bottom:120px;
	text-align:center;
	font-weight:bold;
	font-family: 'Barlow', sans-serif;
}
.one h1{
	padding-top:20px;
	font-family: 'Barlow', sans-serif;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 14px;
  margin-bottom:25px;
  float: left;
  width: 90%;
  background: #f1f1f1;
  opacity:0.5;
font-family: 'Barlow', sans-serif;
  color:black;
 
}

form.example button {
  float: left;
  width: 8%;
  padding: 8px;
  background: white;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top:2px;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.ico{
	color:#663399;
}
.social{
	padding:5px;
}
.ss img:hover{
	background-color:#663399;
	border-radius:50px;
}
.footer{
	padding-top:20px;
	color:white;
}
#demo{
	font-size:70px;
	color:white;
	font-weight:bold;
	text-align:center;
	padding-bottom:30px;
	font-family: 'Barlow', sans-serif;
}